<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Forgot Password</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <label>Enter your email:</label>
                <input
                  class="form-control"
                  name="emailInput"
                  placeholder="Email"
                  required
                  [(ngModel)]="emailInput" 
                  autofocus
                />
              </div>
              <div class="text-primary">
                {{ responseMessage }}
              </div>
              <br />
              <button
                class="btn btn-primary btn-block "
                (click)="ForgotPassword()"
              >
                Send Email!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
