<nav
  class="navbar navbar-inverse navbar-toggleable-md fixed-top bg-faded smallNav"
>
  <img class="main-logo" [src]="logo" alt="logo" />
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="hamburger"></span>
  </button>
  <div class="small-menu" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li ngbLink-item class="nav-item">
        <a
          class="nav-link" 
          (click)="isCollapsed = !isCollapsed"
          routerLink=""
          routerLinkActive="active"
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/activities"
          routerLinkActive="active"
          >ACTIVITIES</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/blog"
          routerLinkActive="active"
          >BLOG/NEWS</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/volunteers"
          routerLinkActive="active"
          >VOLUNTEERS</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/about"
          routerLinkActive="active"
          >ABOUT</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/contact"
          routerLinkActive="active"
          >CONTACT</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/activityCalendar"
          routerLinkActive="active"
          >ACTIVITY CALENDAR</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/projectCalendar"
          routerLinkActive="active"
          >PROJECT CALENDAR</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/login"
          (click)="isCollapsed = !isCollapsed"
          >LOGIN</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/join"
          (click)="isCollapsed = !isCollapsed"
          >JOIN</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          (click)="LogoutUser()"
          (click)="isCollapsed = !isCollapsed"
          >LOGOUT</a
        >
      </li>
    </ul>
  </div>
</nav>

<nav class="largeNav">
  <!-- Large menu -->
  <img class="main-logo" [src]="logo" alt="logo" />
  <div *ngIf="isLoggedIn; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock
    ><a class="login-menu" (click)="LogoutUser()">LOGOUT</a></ng-template
  >
  <ng-template #elseBlock>
    <a class="login-menu" routerLink="/login">LOGIN</a>
    <a class="login-menu" routerLink="/join">JOIN</a>
  </ng-template>
  <div class="large-menu">
    <ul class="navbar-nav">
      <li ngbLink-item class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="home"
          routerLinkActive="active"
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/activities"
          routerLinkActive="active"
          >ACTIVITIES</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/blog"
          routerLinkActive="active"
          >BLOG/NEWS</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/volunteers"
          routerLinkActive="active"
          >VOLUNTEERS</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/about"
          routerLinkActive="active"
          >ABOUT</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/contact"
          routerLinkActive="active"
          >CONTACT</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/activityCalendar"
          routerLinkActive="active"
          >ACTIVITY CALENDAR</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          (click)="isCollapsed = !isCollapsed"
          routerLink="/projectCalendar"
          routerLinkActive="active"
          >PROJECT CALENDAR</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="nav-spacer"></div>
