<nav class="navbar navbar-inverse navbar-toggleable-md fixed-top bg-faded">
    <img class="main-logo" [src]="logo" alt="logo">
    <button class ="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="hamburger"></span>
    </button>
    <div class="small-menu" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
            <li ngbLink-item class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/activities" routerLinkActive="active">ACTIVITIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/blog" routerLinkActive="active">BLOG/NEWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/volunteers" routerLinkActive="active">VOLUNTEERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/about" routerLinkActive="active">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/contact" routerLinkActive="active">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/projectCalendar" routerLinkActive="active">PROJECT CALENDAR</a>
            </li>
        </ul>

    </div>
</nav>
<div class="nav-spacer"></div>

