<div class="about main">
  <h1>About</h1>
  <div class="middle">
    <div class="counting-sec">
      <div>
        <div class="sec-width">
          <div [countUp]="sizeB" class="num">0</div>
          Blogs
        </div>
        <div class="sec-width">
          <div [countUp]="sizeA" class="num">0</div>
          Activities
        </div> 

        <div class="sec-width">
          <div class="num">x</div>
          Members
        </div>

        <div class="sec-width">
          <div [countUp]="sizeC" class="num">0</div>
          Volunteers
        </div>

        <div class="sec-width">
          <div class="num">100%</div>
          Passion
        </div>
      </div>
    </div>
    <div class="content">
      <p>
        SYG’s focus is to pair up volunteer’s skills and young people’s
        interests. Volunteers can apply to volunteer online (pending Garda
        clearance) and select which day/days they would like to commit to
        attending. They can also add a list of skills they would be willing to
        share with young people.
      </p>
      <p>
        The club house is open on Mondays, Wednesdays and Fridays between 3pm
        and 5pm. Two volunteers are required for the premises to open. The
        premise facilities include: pool tables, games consoles, darts, film and
        more. The skills of the volunteer who has committed to attend on that
        day, is listed on the website in the Activities Calendar.
      </p>
      <p>
        This allows members (young people) to stay informed about when relevant
        activities are available. Typical activities include music, art, dance,
        film, console games, etc.
      </p>
      <p>
        SYG are also engaged with the community in local community projects.
        These projects tend to take place outside of club house hours. Projects
        are suggested by members and the management committee who are in contact
        with local council services.
      </p>
    </div>
    <div style="text-align: center;">
      <button
        class="btn-primary"
        type="button"
        (click)="router.navigate(['join'])"
      >
        Join Now
      </button>
    </div>
  </div>
</div>
