<body>


    <div class="container">
            <div style="width: 100%"><iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=54.27148460000001, -8.4822739&amp;q=1%20kmappagh%20road%2C%20Sligo+(Sligo%20Youth%20Group)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my location</a></iframe></div><br />
            <div >
                    <p>Sligo Youth Group<br />
                    1 Somewhere Street<br />
                    Sligo<br />
                    Tel: 012 345 6789<br />
                    <a href = "mailto: sligoyouthgroup@gmail.com ">sligoyouthgroup@gmail.com </a>
                    </p>
            </div>   
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Send us a message!</h5>
                  <form class="form-signin">
                    <div class="form-label-group">

                      <label>Name</label>
                      <input
                        class="form-control"
                        name="nameInput"
                        placeholder="Your full name"
                        required
                        [(ngModel)]="nameInput"
                        autofocus
                      />
                    </div>

                    <br />
                    <label>Email</label>
                    <div class="form-label-group">
                      <input
                      class="form-control"
                      name="emailInput"
                      placeholder="Your email"
                      required
                      [(ngModel)]="emailInput"
                      autofocus
                      />
                    </div>
                    <br />

                    <label>Message</label>
                    <div class="form-label-group">
                      <textarea 
                      class="form-control"
                      name = "messageInput" 
                      placeholder = "Your message" 
                      required
                      [(ngModel)]="messageInput"
                      autofocus>
                      </textarea>
                    </div>
                    <br />

                    <fieldset>
                            <legend>Are you a member or a volunteer?</legend>
                            <label>
                            <input type="radio" name="morv" value="yes" />
                            Yes
                            </label>
                    
                            <label>
                            <input type="radio" name="morv" value="no"/>
                            No
                            </label>
                    
                    </fieldset>
                    <button
                      class="btn btn-primary btn-block text-uppercase"
                      (click)="Send()"
                    >
                      Send
                    </button>
                    <br />

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>